@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

@font-face {
  font-family: 'valorax Regular';
  font-style: normal;
  font-weight: normal;
  src: local('valorax Regular'), url('../public/Valorax-lg25V.woff') format('woff');
  }

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 1.5vw #F40A35;
}

.flux {
  border-color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  box-shadow: 0 0 1.5vw #2356FF;
}
.flux2{
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  box-shadow: 0 0 1.5vw #2356FF;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #426DFB;
  transform-origin: 0%;
  /* height: 1000px; */
  z-index: 999;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite; 
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    box-shadow: 0 0 0.5vw #1041FF, 0 0 1.5vw #1041FF, 0 0 1.5 #1041FF, 0 0 1.5vw #1041FF, 0 0 .2vw #8BFDFE, .25vw .25vw .5vw #147280;
    color: #85d5e7;
  }
  50% {
    box-shadow: 0 0 .25vw #082180, 0 0 0.75vw #082180, 0 0 2.5vw #082180, 0 0 2.5vw #082180, 0 0 .1vw #082180, .25vw .25vw .05vw #0A3940;
    color: #f8fafa;
  }
}
